name: Discord push alert

on:
  push:
    branches:
      - "*"

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord notification
        env:
          WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
          REPO: ${{ github.repository }}
          BRANCH: ${{ github.ref_name }}
          ACTOR: ${{ github.actor }}
          COMMIT_MSG: ${{ github.event.head_commit.message }}
          COMMIT_URL: ${{ github.event.head_commit.url }}
        run: |
          curl -sS -H "Content-Type: application/json" \
          -d "{
            \"username\": \"Honeypot CI\",
            \"avatar_url\": \"https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png\",
            \"embeds\": [{
              \"title\": \"Push détecté\",
              \"description\": \"**${ACTOR}** a push sur **${REPO}**\",
              \"color\": 3447003,
              \"fields\": [
                {\"name\": \"Branche\", \"value\": \"\`${BRANCH}\`\", \"inline\": true},
                {\"name\": \"Commit\", \"value\": \"[Voir le commit](${COMMIT_URL})\", \"inline\": true},
                {\"name\": \"Message\", \"value\": \"\`${COMMIT_MSG}\`\", \"inline\": false}
              ]
            }]
          }" \
          "$WEBHOOK"
